name: Test

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install rust
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: default
          toolchain: stable

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt coveralls
          python setup.py install

      - name: Test without rust wheel
        run: coverage run --source=pygef -m unittest

      - name: Cargo test
        uses: actions-rs/cargo@v1.0.3
        with:
          command: test

      - name: Build rust wheel
        uses: messense/maturin-action@v1
        with:
          maturin-version: latest
          command: build

      - name: Install rust wheel
        run: pip install gef --find-links target/wheels

      - name: Test with rust wheel
        run: coverage run --source=pygef -m unittest

      - name: Post coverage results
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github

  lint:
    name: Formatting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed test_files within `super-linter`
          fetch-depth: 0

      - name: Lint
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_MARKDOWN: false
          VALIDATE_JSCPD: false
          DEFAULT_BRANCH: master
          VALIDATE_CSS: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          LINTER_RULES_PATH: /
          PYTHON_MYPY_CONFIG_FILE: .mypy.ini
  test_docs:
    name: Test docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements_docs.txt
          python setup.py install

      - name: Build docs
        run: sphinx-build -b html docs public
